<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <include resource="ecos/logback-base.xml" />
    <logger name="ru.citeck.ecos.data.sql.datasource" level="INFO" />
    <logger name="ru.citeck.ecos.process.domain.bpmn.engine.camunda.services.beans.ScriptLogger" level="DEBUG" />
</configuration>
