<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.camunda.bpm.engine.impl.dmn.entity.repository.DecisionDefinitionEntity">

    <!--from org/camunda/bpm/engine/impl/mapping/entity/ProcessDefinition.xml-->
    <resultMap id="processDefinitionResultMap"
               type="org.camunda.bpm.engine.impl.persistence.entity.ProcessDefinitionEntity">
        <id property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="revision" column="REV_"/>
        <result property="category" column="CATEGORY_"/>
        <result property="name" column="NAME_"/>
        <result property="key" column="KEY_" jdbcType="VARCHAR"/>
        <result property="version" column="VERSION_" jdbcType="INTEGER"/>
        <result property="deploymentId" column="DEPLOYMENT_ID_" jdbcType="VARCHAR"/>
        <result property="resourceName" column="RESOURCE_NAME_" jdbcType="VARCHAR"/>
        <result property="diagramResourceName" column="DGRM_RESOURCE_NAME_" jdbcType="VARCHAR"/>
        <result property="hasStartFormKey" column="HAS_START_FORM_KEY_" jdbcType="BOOLEAN"/>
        <result property="suspensionState" column="SUSPENSION_STATE_" jdbcType="INTEGER"/>
        <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
        <result property="versionTag" column="VERSION_TAG_" jdbcType="VARCHAR"/>
        <result property="historyTimeToLive" column="HISTORY_TTL_" jdbcType="INTEGER"/>
        <result property="isStartableInTasklist" column="STARTABLE_" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="selectLatestProcessDefinitionsByKeys" parameterType="string" resultMap="processDefinitionResultMap">
        select * from ${prefix}ACT_RE_PROCDEF DEF
        <where>
            <foreach collection="keys" item="key" open="DEF.KEY_ in (" separator=", " close=")">
                #{key}
            </foreach>
        </where>
        and DEF.version_ = (select max(version_) from ${prefix}ACT_RE_PROCDEF where key_ = DEF.key_)
    </select>

</mapper>
