<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <include resource="ecos/logback-base.xml"/>

    <root level="WARN"/>

    <logger name="org.camunda.bpm.engine.context" level="OFF" />
    <logger name="ru.citeck.ecos.rabbitmq.RabbitMqChannel" level="OFF" />
    <logger name="ru.citeck.ecos.data.sql.datasource.DbDataSourceImpl" level="OFF" />

</configuration>
